body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: url('/img/campus.jpg');
    /* your blurred background */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Keeps background fixed on scroll */
}

.overlay {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    min-height: 100vh;
    /* padding-bottom: 300px; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 80%;
    margin: 0 auto; /* <-- THIS CENTERS IT HORIZONTALLY */
    margin-top: 50px;
}

h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 4px 1px 4px #000000aa;
    text-align: center;
}

h3 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 4px 1px 4px #000000aa;
    text-align: center;
}

.card {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    min-width: 250px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #292727;
    border: none;
}

.btn-primary:hover {
    background-color: #030303;
}